input {
  width: 100%;
  padding: 5px 12px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search-container {
  margin: 15px auto;
  width: 300px;
}
.search-input {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
}
