.card {
  background-color: #424242;
  // border-radius: 12px;
  border: 1px solid #ccc;
  width: 300px;
  // height: 350px;
  padding: 20px;
  margin: 20px;
  & img {
    margin-right: 20px;
    border-radius: 8px;
  }
  &-info {
    text-align: start;
    p {
      margin: 0;
    }
  }
  &-action {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin: 8px 0;
    gap: 5px;
  }
}
